<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>CRYPTO</title>
</head>
<body>
    <main>
        <div class="left">
            <div class="logo">WHALESARCHERY</div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="top">
                    <div class="title">Sign in</div>
                    <div class="subtitle">Description</div>
                </div>
                <div class="field">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="Enter your E-Mail">
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Enter your password">
                </div>
                <div class="field-line links">
                    <div class="field"><input type="checkbox"><label>Remember me</label></div>
                    <!-- <a href="/recovery-password">Recover password</a> -->
                </div>
                <input type="submit" value="Sign in">
                <div class="alert alert-danger">{{ form.errors }}</div>
            </form>

            <div class="bottom">
                <!-- You don’t have an account? <a href="/registration/">Create an account</a> -->
            </div>
        </div>
        <div class="right">
            <img src="{% static 'images/whales-logo.png' %}" alt="">
        </div>
    </main>
</body>
</html>