{% extends 'base.html' %}
{% load static %}
    {% block content %}
                <div class="header">
                    <div class="container">
                        <div class="title">Wallets detail</div>
                    </div>
                </div>
                <div class="main">
                    <div class="container" style="margin-bottom: 20px;">
                      <div class="block filters">
                        <form action="" method="post">
                          {% csrf_token %}
                          <div class="filter" style="width: 100%;">
                            <label>Address:</label>
                            <input type="text" id="winrate" name="address" value="">
                          </div>
                          <div class="filter">
                            <button type="submit">Add</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="container coins">
                        {% for wallet in whale.wallets.all %}
                          <a href="/wallet/{{wallet.id}}/">
                              <div class="block coin">
                                  <div class="title">{{wallet.address}}</div>
                              </div>
                          </a>
                        {% endfor %}
                    </div>
                </div>
    {% endblock content %}