{% extends 'base.html' %}
{% load static %}
    {% block content %}
                <div class="header">
                    <div class="container">
                        <div class="title">Wallet</div>
                    </div>
                </div>
                <div class="main">
                    <div class="container">
                        <div class="block filters">
                                <a class="button" href="?raterange=50-60">50-60%</a>
                                <a class="button" href="?raterange=60-70">60-70%</a>
                                <a class="button" href="?raterange=70">70+%</a>
                        </div>
                        <div class="block">
                            <div id="myGrid" style="height: 500px;" class="ag-theme-material"></div>
                        </div>
                        <div class="block">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
    {% endblock content %}
    {% block footer_js %}
    <script>
        const columnDefs = [
          { field: "address", filter: 'agNumberColumnFilter' },
          { field: "amount", filter: 'agNumberColumnFilter' },
          { field: "winrate", filter: 'agNumberColumnFilter' },
          { field: "total_buy", filter: 'agNumberColumnFilter' },
          { field: "total_sell", filter: 'agNumberColumnFilter' },
          { field: "commission", filter: 'agNumberColumnFilter' },
          { field: "total_count_buy", filter: 'agNumberColumnFilter' },
          { field: "total_count_sell", filter: 'agNumberColumnFilter' },
          { field: "pnl_release", filter: 'agNumberColumnFilter' },
          { field: "pnl_unrelease", filter: 'agNumberColumnFilter' },
          { field: "pnl_percent", filter: 'agNumberColumnFilter' }
        ];

        // specify the data
        const rowData = [
        {% for wallet in wallets.all %}
          { address: "{{wallet.address}}", amount: "{{wallet.amount}}"},
        {% endfor %}
        ];

        // let the grid know which columns and what data to use
        const gridOptions = {
          columnDefs: columnDefs,
          rowData: rowData,
          enableColResize: true
        };

        // setup the grid after the page has finished loading
        document.addEventListener('DOMContentLoaded', () => {
          const gridDiv = document.querySelector('#myGrid');
          new agGrid.Grid(gridDiv, gridOptions);
        });
    </script>
    <script>
        var options = {
          series: [
          {
            data: [
            {% for wallet in wallets.all %}
                {
                    x: '{{wallet.address}}',
                    y: {{wallet.amount}}
                  },
            {% endfor %}

            ]
          }
        ],
          legend: {
          show: false
        },
        chart: {
          height: 350,
          type: 'treemap'
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
    {% endblock footer_js %}